button {
    background-color: lightgreen;
}

button:hover {
    background-color: skyblue;
    transition: .3s ease all;
    transform: translateY(-5px);
}

.logo:hover {
    transition: .3s ease all;
    transform: translateY(-5px);
}

.main-menu {
    font-family: sans-serif;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: -1px 0px 22px 15px rgba(0,0,0,0.37);
    text-align: center;
}

.footer-menu {
    font-family: sans-serif;
    background-color: rgb(248, 245, 246);
    list-style-type: none;
    margin: 0;
    padding: 1em;
    text-align: center;
}
.footer-menu p {
    margin-block-end:0;
}
.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 245, 246);
    display: flex;
    justify-content: center;
}

.footer-menu li {
    float: left;
}

.footer-menu li a {
    display: block;
    text-align: center;
    padding: 0.8em 1.2em;
    text-decoration: none;
    
}

/* Change the link color to #111 (black) on hover */
.footer-menu li a:hover {
    background-color: rgb(161, 161, 161)
}

.pencil p{
    width: 65%;
    padding-left: 1em;
}

.pencil {
    background-image: url("../assets/pencils.jpg");
    background-size: cover;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding-bottom:1em;
    min-height: 100%;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: -1px 0px 22px 15px rgba(0,0,0,0.37);
}
.container {
    background-image: url("../assets/books.jpg");
    background-size: cover;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: -1px 0px 22px 15px rgba(0,0,0,0.37);
}
.container h1 {
    padding-left: 0.5em;
    padding-top: 0.5em;
    width: 60%;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

.container h2 {
    padding-left: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;

}

.container li {
    text-align: left;
    width: 50%
}
.pencil h1 {
    padding-left: 0.5em;
    padding-top: 0.5em;
    width: 60%;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}


.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.8em 1.2em;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main-menu li a:hover {
    background-color: #111;
}

.search-bar body,
.search-bar button,
.search-bar input {
    font: 1em Hind, sans-serif;
    line-height: 1.5em;
    justify-content: left;
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-bar body,
.search-bar input {
    color: #171717;
    justify-content: left;
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-bar body,
.search-bar {
    display: flex;
    justify-content: left;
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-bar body {
    background: #f1f1f1;
    height: 100vh;
    justify-content: left;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
    justify-content: left;
}

.search-bar input,
.search-btn {
    width: 3em;
    height: 3em;
    justify-content: left;
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
    justify-content: left;
}

.search-bar,
.search-bar input:focus,
.search-bar input:valid {
    width: 70%;
    justify-content: left;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
    justify-content: left;
}

.search-bar {
    margin: 0;
    padding: 0.5em;
    justify-content: left;
    max-width: 30em;
    justify-content: left;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em, 0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: left;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
    justify-content: left;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375em 0 0 0.375em;
    box-shadow: 0 0 0 0.1em #d9d9d9 inset;
    transform: scale(1);
    justify-content: left;
}

.search-btn {
    background: #171717;
    border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
    padding: 0.75em;
    position: relative;
    transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
    justify-content: left;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    justify-content: left;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75em;
    left: 0.75em;
    width: 1.2em;
    height: 1.2em;
    justify-content: left;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25em 0.25em 0;
    top: 51%;
    left: 51%;
    width: 0.75em;
    height: 0.25em;
    transform: translate(0.2em, 0) rotate(45deg);
    transform-origin: 0 50%;
    justify-content: left;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
    justify-content: left;
}

/* Active state */
.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: rgb(0, 191, 255);
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
    justify-content: left;
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
    justify-content: left;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: lightgreen;
    justify-content: left;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
    justify-content: left;
}
.biography{

}
.row{

}
.bioImg {
    float:left;
    padding-left: 1em;
}
   
.bioText {
    padding-left: 130px;
    width : 65%;
}