.wrapper {
    background-size: cover;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: -1px 0px 22px 15px rgba(0,0,0,0.37);   
}
.wrapper h1 {
    display: flex;
    justify-content: center;
}

.question{
    display: flex;
    justify-content: center;
}

.wrapper p {
    display: flex;
    justify-content: center;
}
.wrapper button{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;
    margin: 10px;
}

.wrapper button:hover{
    background-color: #1db954;
}
